@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");

:root {
  --color-white: #ffffff;
  --color-navyblue-dark: #0c1f2c;
  --color-red-extra-light: #cc3843;
  --color-red-light: #cb1f40;
  --color-red-dark: #cb2140;

  --radius-base: 23px;
  --radius-xl: 90px;

  --font-family: "Open Sans", sans-serif;
  --letter-space: 0.3rem;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --text-xxl: 40px;

  --transition-primary: all 0.25s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--color-white);
}

.container {
  max-width: 900px;
  height: 550px;
  margin: 100px auto;
}

.container .card {
  display: flex;
  position: relative;
}

.container .card .button-holder button {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  z-index: 3;
  border-radius: var(--radius-xl);
  border: none;
  color: var(--color-red-extra-light);
  cursor: pointer;
  transition: var(--transition-primary);
}

.container .card .button-holder button:hover {
  font-size: var(--text-lg);
}

.container .card .button-holder button:nth-child(1) {
  transform: translate(-50%, -50%);
}

.container .card .button-holder button:nth-child(2) {
  right: 0;
  transform: translate(50%, -50%);
}

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
}

.container .card .logo-wrapper {
  position: relative;
  width: 480px;
  height: 550px;
  border-radius: var(--radius-base);
  background-color: var(--color-red-extra-light);
}

.container .card .logo-wrapper .image-holder {
  position: relative;
  transform: rotate(-90deg);
}

.container .card .logo-wrapper img {
  position: absolute;
  filter: opacity(30%);
  transform: translateY(-100%);
}

.container .card .image-holder {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
}

.container .card .info-wrapper {
  position: absolute;
  width: 650px;
  height: 480px;
  top: 50%;
  right: 0px;
  z-index: 1;
  transform: translateY(-50%);
  border-radius: var(--radius-base);
  background-color: var(--color-navyblue-dark);
}

.container .card .info-wrapper .description {
  display: flex;
  flex-direction: column;
  padding: var(--text-xxl) 10% var(--text-xxl) 35%;
  z-index: 4;
}

.container .card .info-wrapper .description h1.card-title {
  padding-bottom: var(--text-base);
  font-size: var(--text-xxl);
  font-weight: bold;
  text-transform: uppercase;
}

.container .card .info-wrapper .description p span.price {
  font-size: var(--text-xl);
}

.container .card .info-wrapper .description .card-detail {
  display: flex;
  padding-top: var(--text-xl);
  gap: 1.2rem;
}

.container .card .info-wrapper .description .card-detail .variant-size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.container
  .card
  .info-wrapper
  .description
  .card-detail
  .variant-size
  .variant-title {
  font-size: var(--text-xs);
  font-weight: bold;
  letter-spacing: var(--letter-space);
  text-transform: uppercase;
}

.container .card .info-wrapper .description .card-detail .variant-size ul {
  display: flex;
  gap: 0.4rem;
}

.container
  .card
  .info-wrapper
  .description
  .card-detail
  .variant-size
  ul
  li
  input[type="radio"] {
  display: none;
}

.container
  .card
  .info-wrapper
  .description
  .card-detail
  .variant-size
  ul
  li
  label {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-sm);
  font-weight: lighter;
  outline-color: var(--color-red-extra-light);
  border-radius: 50%;
  transition: var(--transition-primary);
}

.container
  .card
  .info-wrapper
  .description
  .card-detail
  .variant-size
  ul
  li
  label:hover {
  font-size: var(--text-lg);
  cursor: pointer;
}
.container
  .card
  .info-wrapper
  .description
  .card-detail
  .variant-size
  ul
  li
  input[type="radio"]:checked
  + label {
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 2px;
}

.container .card .info-wrapper .description .card-detail .rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--text-xl);
  text-align: center;
  gap: var(--text-base);
  border-left: 1px solid var(--color-red-extra-light);
}

.container .card .info-wrapper .description .card-detail .rate .circle-border {
  position: relative;
  width: 110px;
  height: 110px;
  text-align: center;
  border-radius: 100%;
  background-color: #e53b3b;
  background: linear-gradient(
      270deg,
      var(--color-red-light) 50%,
      transparent 50%
    ),
    linear-gradient(
      0deg,
      var(--color-red-light) 50%,
      var(--color-navyblue-dark) 50%
    );
}

.container
  .card
  .info-wrapper
  .description
  .card-detail
  .rate
  .circle-border
  .circle {
  position: relative;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: var(--color-navyblue-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .card .info-wrapper .description .card-detail .rate .rate-title {
  font-size: var(--text-base);
  font-weight: bold;
  letter-spacing: var(--letter-space);
  line-height: 1.3rem;
  text-transform: uppercase;
}

.container .card .info-wrapper .description .card-action {
  display: inline-block;
  margin-top: var(--text-base);
}

.container .card .info-wrapper .description .card-action button {
  position: relative;
  transition: var(--transition-primary);
  cursor: pointer;
}

.container .card .info-wrapper .description .card-action .add-button {
  padding: 15px 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  text-transform: uppercase;
  background-color: var(--color-red-light);
  color: var(--color-white);
}

.container .card .info-wrapper .description .card-action .add-button:hover {
  background-color: transparent;
  color: var(--color-red-light);
  border: 1px solid var(--color-red-light);
}

.container .card .info-wrapper .description .card-action .wishlist-button {
  margin-left: 20px;
  border: none;
  text-transform: uppercase;
  color: var(--color-red-light);
  background-color: transparent;
}

.container
  .card
  .info-wrapper
  .description
  .card-action
  .wishlist-button::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 0;
  width: 0;
  background-color: var(--color-red-light);
  transition: all 0.25s ease-in-out;
}

.container
  .card
  .info-wrapper
  .description
  .card-action
  .wishlist-button:hover::after {
  width: 100%;
  height: 2px;
}

.container .card .info-wrapper .description .card-action .wishlist-button i {
  transition: var(--transition-primary);
}

.container
  .card
  .info-wrapper
  .description
  .card-action
  .wishlist-button:hover
  i {
  font-size: 1.5em;
}

.container .card .info-wrapper .description .card-action .wishlist-button span {
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.2);
}
